@using Microsoft.AspNetCore.Identity
@using BuyNowEcommerce.Utility
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    var user = await userManager.GetUserAsync(User);

}

<header id="header" class="header6">
    <div id="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="header-top-left">
                        <ul id="top-links" class="clearfix">

                            @if (HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssCartCount) != null)
                            {
                                    var count = HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssCartCount);

                                <li><a href="#" title="My Wishlist"><span class="top-icon top-icon-pencil"></span><span class="hide-for-xs">My Wishlist</span></a></li>
                                <li><a href="#" title="My Account"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">My Account</span></a></li>
                                <li><a asp-area="Customer" asp-controller="Home" asp-action="Cart" title="My Cart"><span class="top-icon top-icon-cart"></span><span class="hide-for-xs">(@count)</span></a></li>
                                <li><a href="checkout.html" title="Checkout"><span class="top-icon top-icon-check"></span><span class="hide-for-xs">Checkout</span></a></li>
                            }
                            else
                            {
                                <li><a href="#" title="My Wishlist"><span class="top-icon top-icon-pencil"></span><span class="hide-for-xs">My Wishlist</span></a></li>
                                <li><a href="#" title="My Account"><span class="top-icon top-icon-user"></span><span class="hide-for-xs">My Account</span></a></li>
                            }
                        </ul>
                    </div><!-- End .header-top-left -->
                    <div class="header-top-right">

                        <div class="header-top-dropdowns pull-right">
                            <div class="btn-group dropdown-money">
                                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                                    <span class="flag-container"><img src="~/images/nigeria-flag.png" alt="flag of nigeria" style=" height: 22px; width:22px;"></span>
                                    <span class="hide-for-xs">Nigeria(NGN)</span><span class="hide-for-lg">&#8358;</span>
                                </button>
                            </div><!-- End .btn-group -->
                            <div class="btn-group dropdown-language">
                                <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                                    <span class="hide-for-xs">Coverage</span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#"><span class="hide-for-xs">Lagos</span></a></li>
                                    <li><a href="#"><span class="hide-for-xs">Abuja</span></a></li>
                                </ul>
                            </div><!-- End .btn-group -->
                        </div><!-- End .header-top-dropdowns -->

                        <div class="header-text-container pull-right">
                            @if (signInManager.IsSignedIn(User))
                            {
                                <p class="header-text">Welcome @user.Name to BuyNow!&nbsp;&nbsp;<a asp-area="Customer" asp-controller="Account" asp-action="LogOut">Logout</a></p>
                            }
                            else
                            {
                                <p class="header-link"><a asp-area="Customer" asp-controller="Account" asp-action="Login">login</a>&nbsp;or&nbsp;<a asp-area="Customer" asp-controller="Account" asp-action="Register">create an account</a></p>
                            }


                        </div><!-- End .pull-right -->
                    </div><!-- End .header-top-right -->
                </div><!-- End .col-md-12 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #header-top -->

    <div id="inner-header">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 logo-container">
                    <h1 class="logo clearfix">
                        <span>Buy Now</span>
                        <a asp-action="Index" asp-controller="Home" title="Venedor eCommerce Template"><img src="~/images/buynow-logo.png" alt="Venedor Commerce Template" style="width:70px; height:70px;"></a>
                    </h1>
                </div><!-- End .col-md-3 -->
                <div class="col-md-9 col-sm-9 col-xs-12 header-inner-right">
                    <div class="header-inner-right-wrapper clearfix">

                        <div class="dropdown-cart-menu-container pull-right">
                            <div class="btn-group dropdown-cart">
                                @if (HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssCartCount) != null)
                                {
                                    var count = HttpContextAccessor.HttpContext.Session.GetInt32(@SD.ssCartCount);

                                    <a asp-area="Customer" asp-controller="Home" asp-action="Cart" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                                        <span class="cart-menu-icon"></span>
                                        @count item(s) <span class="drop-price">- &#8358; 0.00</span>
                                    </a>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-custom dropdown-toggle" data-toggle="dropdown">
                                        <span class="cart-menu-icon"></span>
                                        0 item(s) <span class="drop-price">- &#8358; 0.00</span>
                                    </button>
                                }


          
                            </div><!-- End .btn-group -->
                        </div><!-- End .dropdown-cart-menu-container -->

                        <div id="quick-access">
                            <form class="form-inline quick-search-form" role="form" action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search here">
                                </div><!-- End .form-inline -->
                                <button type="submit" id="quick-search" class="btn btn-custom"></button>
                            </form>
                        </div><!-- End #quick-access -->

                        <div class="header-box contact-infos pull-right">
                            <ul>
                                <li><span class="header-box-icon header-box-icon-skype"></span>venedor_support</li>
                                <li><span class="header-box-icon header-box-icon-email"></span><a href="mailto:venedor@gmail.com">venedor@gmail.com</a></li>
                            </ul>
                        </div><!-- End .contact-infos -->

                        <div class="header-box contact-phones pull-right clearfix">
                            <span class="header-box-icon header-box-icon-earphones"></span>
                            <ul class="pull-left">
                                <li>+(234) 806 458 72 30</li>
                                <li>+(234) 706 883 25 44</li>
                            </ul>
                        </div><!-- End .contact-phones -->

                    </div><!-- End .header-inner-right-wrapper -->
                </div><!-- End .col-md-7 -->
            </div><!-- End .row -->
        </div><!-- End .container -->

        <div id="main-nav-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 clearfix">

                        <nav id="main-nav">
                            <div id="responsive-nav">
                                <div id="responsive-nav-button">
                                    Menu <span id="responsive-nav-button-icon"></span>
                                </div><!-- responsive-nav-button -->
                            </div>
                            <div class="menu-table">
                                <ul class="menu clearfix">
                                    <li>
                                        <a class="active" asp-action="Index" asp-controller="Home">HOME</a>
                                    </li>
                                    <li class="mega-menu-container">
                                        <a href="#">SHOP</a>
                                        <div class="mega-menu clearfix">
                                            <div class="col-5">
                                                <a href="category.html" class="mega-menu-title">Clothing</a><!-- End .mega-menu-title -->
                                                <ul class="mega-menu-list clearfix">
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Jeans &amp; Trousers</a></li>
                                                    <li><a href="#">Blouses &amp; Shirts</a></li>
                                                    <li><a href="#">Tops &amp; T-Shirts</a></li>
                                                    <li><a href="#">Jackets &amp; Coats</a></li>
                                                    <li><a href="#">Skirts</a></li>
                                                </ul>
                                            </div><!-- End .col-5 -->
                                            <div class="col-5">
                                                <a href="category.html" class="mega-menu-title">Shoes</a><!-- End .mega-menu-title -->
                                                <ul class="mega-menu-list clearfix">
                                                    <li><a href="#">Formal Shoes</a></li>
                                                    <li><a href="#">Casual Shoes</a></li>
                                                    <li><a href="#">Sandals</a></li>
                                                    <li><a href="#">Boots</a></li>
                                                    <li><a href="#">Wide Fit</a></li>
                                                    <li><a href="#">Slippers</a></li>
                                                </ul>
                                            </div><!-- End .col-5 -->
                                            <div class="col-5">
                                                <a href="category.html" class="mega-menu-title">Accessories</a><!-- End .mega-menu-title -->
                                                <ul class="mega-menu-list clearfix">
                                                    <li><a href="#">Bags &amp; Purses</a></li>
                                                    <li><a href="#">Belts</a></li>
                                                    <li><a href="#">Gloves</a></li>
                                                    <li><a href="#">Jewellery</a></li>
                                                    <li><a href="#">Sunglasses</a></li>
                                                    <li><a href="#">Hair Accessories</a></li>
                                                </ul>
                                            </div><!-- End .col-5 -->
                                            <div class="col-5">
                                                <a href="category.html" class="mega-menu-title">Sports</a><!-- End .mega-menu-title -->
                                                <ul class="mega-menu-list clearfix">
                                                    <li><a href="#">Sport Tops &amp; Vests</a></li>
                                                    <li><a href="#">Swimwear</a></li>
                                                    <li><a href="#">Footwear</a></li>
                                                    <li><a href="#">Sports Underwear</a></li>
                                                    <li><a href="#">Bags</a></li>
                                                </ul>
                                            </div><!-- End .col-5 -->

                                            <div class="col-5">
                                                <a href="category.html" class="mega-menu-title">Maternity</a><!-- End .mega-menu-title -->
                                                <ul class="mega-menu-list clearfix">
                                                    <li><a href="#">Tops &amp; Skirts</a></li>
                                                    <li><a href="#">Dresses</a></li>
                                                    <li><a href="#">Trousers &amp; Shorts</a></li>
                                                    <li><a href="#">Knitwear</a></li>
                                                    <li><a href="#">Jackets &amp; Coats</a></li>
                                                </ul>
                                            </div><!-- End .col-5 -->
                                        </div><!-- End .mega-menu -->
                                    </li>

                                    <li>
                                        <a asp-action="Service" asp-controller="Home">Services</a>
                                        
                                    </li>
                                    <li>
                                        <a asp-action="Blog" asp-controller="Home">Blog</a>
                                    </li>
                                    <li>
                                        <a asp-action="About" asp-controller="Home">About Us</a>
                                    </li>
                                    <li><a asp-action="Contact" asp-controller="Home">Contact Us</a></li>
                                    <li>
                                        <a asp-action="UserProfile" asp-controller="Home">My Account</a>
                                        @if (signInManager.IsSignedIn(User))
                                        {
                                            <ul>
                                                <li><a asp-action="UserProfile" asp-controller="Home">Profile</a></li>
                                                <li><a href="blog-sidebar-left.html">Service</a></li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <ul>
                                                <li><a asp-area="Customer" asp-controller="Account" asp-action="Login">Login</a></li>
                                                <li><a asp-area="Customer" asp-controller="Account" asp-action="Register">Register</a></li>
                                            </ul>
                                        }
                                    </li>
                                    <li><a asp-action="News" asp-controller="Home">News</a></li>
                                    <li><a asp-action="Careers" asp-controller="Home">Careers</a></li>
                                </ul>
                            </div>

                        </nav>

                    </div><!-- End .col-md-12 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

        </div><!-- End #nav -->
    </div><!-- End #inner-header -->
</header>